{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <style>
        h1 {
            color: #343a40;
            font-weight: bold;
        }

        .form-control {
            border-radius: 0.25rem;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        .container {
            max-width: 600px;
        }
    </style>

    <div class="container py-5">
        <h1 class="text-center">S'inscrire</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="form-group mb-3">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group mb-3">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
